<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            {{ item.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <fa-icon [icon]="item.getIconDefinition()" size="3x"></fa-icon>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-4">Auteur :&nbsp;</div>
                <div class="col-8">{{ item.author.name }}</div>
            </div>
            <div class="row">
                <div class="col-4">Année de sortie :&nbsp;</div>
                <div class="col-8">{{ item.year ? item.year : 'NC' }}</div>
            </div>
            <div class="row">
                <div class="col-4">Année de sortie :&nbsp;</div>
                <div class="col-8">{{ item.barcode ? item.barcode : 'NC' }}</div>
            </div>
        </div>
    </div>
</div>
