<div class="container">
  <div class="container row d-flex list-group-item list-group-item-dark">Header row</div>
  <div class="container row d-flex list-group-item" *ngFor="let item of itemList">
    <div class="col-1" [ngSwitch]="item.type">
      <i *ngSwitchCase="'book'" class="fa fa-2x fa-book"></i>
      <i *ngSwitchCase="'cd'" class="fa fa-2x fa-music"></i>
      <i *ngSwitchCase="'dvd'" class="fa fa-2x fa-film"></i>
    </div>
    <div class="col-9">
      {{item.name}}
    </div>
    <div class="container d-flex col-2 align-items-end">
      <div class="col">
        <i class="fa fa-2x fa-edit"></i>
      </div>
      <div class="col">
        <i class="fa fa-2x fa-trash"></i>
      </div>
    </div>
  </div>
</div>
