/* You can add global styles to this file, and also import other style files */
$dark-shade: #1E1AF5;
$dark-accent: #60788E;
$main-brand-color: #889DC1;
$light-accent: #98A1AB;
$light-shades: #F1EFE2;

$primary: $main-brand-color;
$info: #2126EA;
$success: #5EAA72;
$warning: #db9A3A;
$danger: #F44336;

