@import 'colors';
@import 'node_modules/bootstrap/scss/bootstrap';

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light-accent,
    'dark': $dark-accent
);

$enable-shadows: true;
$font-family-base: 'Roboto Light', Helvetica, Arial, sans-serif;

html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

app-home {
    min-height: 100vh;
    height: auto;
    margin: 0;
    display: flex;
}

.card {
    background-color: $light-shades;
}
